<header class="masthead ">
  <div class="container h-50">
    <div class="row h-100 font-weight-bold align-items-end">
      <div class="col-6 text-left">

        <p class="font-weight-bold" >THINKING OF BUYING A HEADPHONE?</p>
        <h1 class="font-weight-bolder mainheading">HTML Business Templates</h1>

      </div>
    </div>
    <div class="row  font-weight-bold align-items-end mt-3">
      <div class="col-6 text-left">
        <a href="https://google.com" class=" rounded-pill bg-light p-3">Shopping Now</a>

      </div>
    </div>
  </div>

</header>
