<section style="padding-top: 80px; padding-bottom: 30px;">
  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <a href="https:google.com"><img src="./assets/images/a.jpg" width="100"> </a>
      </div>
      <div class="col-md-4 text-center">
        © 2018 All Rights Reserved Terms of Use and Privacy Policy
      </div>
      <div class="col-md-4 align-items: center;
    justify-content: flex-end; text-center ">

        <i class="fa fa-facebook rounded-circle " style="font-size: 14px;
    background-color: orange;
    padding: .9rem 1rem;
    width: 3em;
    height: 40px;
    color: white;
margin-right: 4px"></i>


        <i class="fa fa-twitter rounded-circle" style="font-size: 14px;
    background-color: orange;
    padding: .9rem 1rem;
    width: 3em;
    height: 40px;
    color: white;
margin-right: 4px"></i>
        <i class="fa fa-linkedin rounded-circle" style="font-size: 14px;
    background-color: orange;
    padding: .9rem 1rem;
    width: 3em;
    height: 40px;
    color: white;
margin-right: 4px"></i>
        <i class="fa fa-youtube rounded-circle" style="font-size: 15px;
    background-color: orange;
    padding: .9rem 1rem;
    width: 3em;
    height: 40px;
    color: white;
margin-right: 4px;"></i>
      </div>
    </div>
  </div>
</section>
