<div class="col-md-4">
  <div class="card">
    <img src="03.jpg" class="card-img-top img-fluid" alt="headphones">
    <div class="position-absolute "
         style="z-index:1; top: 2rem; left: 2rem; border-radius: 30px; padding: 9px; background-color: #fac769; font-family: 'Poppins', sans-serif;">
      HEADPHONES
    </div>
    <div class="card-body"  style="background:#fac769 ">
      <div class="card-title font-weight-bolder" style="font-family: 'Poppins', sans-serif; font-weight:900;color: black; "> HEADPHONES
      </div>
      <div class="card-text text-light font-weight-bold" style=" font-family: 'Rubik', sans-serif; font-size: 1rem; "> Experience the exact same elevated experience and also amazing audio UHP has actually been providing to auditorium, workshops and also living rooms for 50 years with HTML Business Templates.</div>
    </div>

  </div>
</div>
