<section style="padding-top: 80px; padding-bottom: 30px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12" style=""></div>
      <h3>Why do you have to buy headphones only for us?</h3>
    </div>
    <div class="row p-4">
      <div class="col-md-3">
        <div class="card border-0"  style="position: relative " >
          <div >
            <h2 style="flex-shrink: 40; position: absolute ;font-size:50px; font-weight: 900; color: orange" >01.</h2>
            <h5 style=" position: absolute; padding-top: 16px">High Quality</h5>
          </div>
          <div  style="padding-top: 5rem">
            This is songs with no restrictions. Surrender to HTML Business Template exceptional sound wrapped in timeless style.
            <a href="https://google.com">Learn More...</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0"  style="position: relative" >
          <div >
            <h2 style="flex-shrink: 40; position: absolute ;font-size:50px; font-weight: 900; color: orange" >01.</h2>
            <h5 style=" position: absolute; padding-top: 16px">Original Devices</h5>
          </div>
          <div  style="padding-top: 5rem">
            Let it have fun with your ideas, mess with your heart, or alter your strategies. Allow it take you back in time or to areas you've never gone before.
            <a href="https://google.com">Learn More...</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0"  style="position: relative" >
          <div >
            <h2 style="flex-shrink: 40; position: absolute ;font-size:50px; font-weight: 900; color: orange" >01.</h2>
            <h5 style=" position: absolute; padding-top: 16px">Year Warranty</h5>
          </div>
          <div  style="padding-top: 5rem">
            From the storage locker space to the lecture hall, you're constantly on the move with HTML Business Template.
            <a href="https://google.com">Learn More...</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0"  style="position: relative; " >
          <div >
            <h2 style="flex-shrink: 40; position: absolute ;font-size:50px; font-weight: 900; color: orange" >01.</h2>
            <h5 style=" position: absolute; padding-top: 16px">Week to Check</h5>
          </div>
          <div  style="padding-top: 5rem; ">
            Regularly on the move? Business HTML Templates military-grade safeguards the headphones versus sweat, dampness as well as spills.
            <a href="https://google.com">Learn More...</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
