<nav class="navbar navbar-dark  navbar-1  menu-bar">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">HTML</a>

  <!-- Collapse button -->
  <button class="navbar-toggler menu-button d-flex align-self-end" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
          aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent15">

    <!-- Links -->
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
